<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/cadastroCliente.css">
    <title>Gears ERP</title>
</head>

<body>
    <!-- Cabeçalho da pagina, base de todas as paginas -->
    <header class="text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <i class="bi bi-list"></i>
            </button>
            <img src="/img/logo.png" alt="Gears ERP Logo" class="img-fluid logo">
            <div class="icons">
                <div class="dropdown d-inline">
                    <i class="bi bi-bell me-4" id="bellDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bellDropdown">
                        <li><a class="dropdown-item" href="#">Notificação 1</a></li>
                        <li><a class="dropdown-item" href="#">Notificação 2</a></li>
                    </ul>
                </div>
                <div class="dropdown d-inline">
                    <i class="bi bi-person-circle" id="profileDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false"></i>
                    <ul class="dropdown-menu icon-dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="#">Adriano Rodrigues</a></li>
                        <li><a class="dropdown-item" href="#">Versão 1.0.0</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset align-right" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <hr>
                        <h6>Dashboard</h6>
                        <hr>
                        <a class="nav-link" href="#"><i class="bi bi-house-door"></i> Início</a>
                    </li>
                    <hr>

                    <li class="nav-item">
                        <h6>Ordem de Serviço</h6>
                        <hr>
                        <a class="nav-link" href="listaos"><i class="bi bi-file-earmark-text"></i> Lista de OS</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <h6>Cadastros</h6>
                        <hr>
                        <a class="nav-link" href="/cadastroCliente"><i class="bi bi-person-plus"></i> Cadastro de
                            Cliente / Fornecedor</a>
                        <a class="nav-link" href="#"><i class="bi bi-file-earmark-richtext"></i> Contratos</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <h6>Estoque</h6>
                        <hr>
                        <a class="nav-link" href="#"><i class="bi bi-box"></i> Pesquisa de Estoque</a>
                        <a class="nav-link" href="#"><i class="bi bi-plus-square"></i> Cadastro de Produtos</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <h6>Relatórios</h6>
                        <hr>
                        <a class="nav-link" href="#"><i class="bi bi-file-earmark-text"></i> Relatório de Vendas</a>
                        <a class="nav-link" href="#"><i class="bi bi-file-earmark-bar-graph"></i> Relatório de
                            Estoque</a>
                        <a class="nav-link" href="#"><i class="bi bi-file-earmark-spreadsheet"></i> Relatório
                            Financeiro</a>
                        <a class="nav-link" href="#"><i class="bi bi-file-earmark-check"></i> Relatório de OS</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <h6>Pagamentos</h6>
                        <hr>
                        <a class="nav-link" href="#"><i class="bi bi-credit-card"></i> Pagamento com Cartão</a>
                        <a class="nav-link" href="#"><i class="bi bi-upc-scan"></i> Pix QRCode</a>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
    </header>

    <!-- OS visualizada quanto Desktop ou telas grandes, em lista -->
    <div class="container mt-5">
        <h2 class="text-center titles">Lista de Clientes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <!-- Exemplo de linha estática, você pode duplicar isso para outros clientes -->
                <tr data-bs-toggle="modal" data-bs-target="#clienteModal">
                    <th scope="row">João Silva</th>
                    <td>12345678901</td>
                    <td>joao@email.com</td>
                    <td>(11) 98765-4321</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Clientes visualizados quando mobile, em cards -->
    <div class="clientes-cards container">
        <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#clienteModal">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 cliente-cpf">
                        <p><strong>Nome: </strong>João Silva</p>
                    </div>
                    <div class="col-6 text-center">
                        <p><strong>CPF: </strong>12345678901</p>
                    </div>
                    <div class="col-6 text-center">
                        <p><strong>Email: </strong>joao@email.com</p>
                    </div>
                    <div class="col-6 text-center">
                        <p><strong>Telefone: </strong>(11) 98765-4321</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de dados dos clientes -->
    <div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clienteModalLabel">Detalhes do Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Os detalhes do cliente serão inseridos aqui -->
                    <p><strong>CPF: </strong>12345678901</p>
                    <p><strong>Nome: </strong>João Silva</p>
                    <p><strong>Email: </strong>joao@email.com</p>
                    <p><strong>Telefone: </strong>(11) 98765-4321</p>
                    <!-- Adicione mais detalhes conforme necessário -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de criação de novo cliente -->
    <button type="button" class="position-fixed bottom-0 end-0 m-3 float-button" data-bs-toggle="modal"
        data-bs-target="#registerModal">
        <i class="bi bi-plus-lg"></i>
    </button>

    <!-- Modal de questionario para criação de novo cliente -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="registerModalLabel">Cadastro de Cliente</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="clienteForm" class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" required
                                placeholder="Ex: Adriano Rodrigues">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" required
                                placeholder="exemplo@exemplo.com">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="telefone" required placeholder="11912345678">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cpf" class="form-label">CPF</label>
                            <input type="text" class="form-control" id="cpf" required placeholder="123.456.789-02">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="genero" class="form-label">Gênero</label>
                            <select class="form-control" id="genero" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="Cliente">F</option>
                                <option value="Fornecedor">M</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="cep" required placeholder="12345-000">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="endereco" class="form-label">Endereço</label>
                            <input type="text" class="form-control" id="endereco" required placeholder="Av. Exemplo">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="numero" class="form-label">Número</label>
                            <input type="text" class="form-control" id="numero" required placeholder="1234">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <input type="text" class="form-control" id="estado" required placeholder="São Paulo">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="cidade" required placeholder="Campinas">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-control" id="tipo" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="Cliente">Cliente</option>
                                <option value="Fornecedor">Fornecedor</option>
                            </select>
                        </div>

                        <h5 class="modal-header">Cadastro do Veículo</h5>
                        <hr>

                        <div class="col-md-6 mb-3">
                            <label for="tipoVeiculo" class="form-label">Tipo de Veículo</label>
                            <select class="form-control" id="tipoVeiculo" name="tipoVeiculo" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="Carro">Carro</option>
                                <option value="Moto">Moto</option>
                                <option value="Caminhão">Caminhão</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="montadora" class="form-label">Montadora</label>
                            <input type="text" class="form-control" id="montadora" name="montadora" required
                                placeholder="Ex: Ford">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo" required
                                placeholder="Ex: Fiesta">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="ano" class="form-label">Ano</label>
                            <input type="number" class="form-control" id="ano" name="ano" required
                                placeholder="Ex: 2022">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="placa" class="form-label">Placa</label>
                            <input type="text" class="form-control" id="placa" name="placa" required
                                placeholder="Ex: ABC-1234">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Cadastrar Cliente e Veículo</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>