<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">

    <title>Gears ERP</title>
    <style>
        @media (max-width: 1024px) {
            .options a {
                display: none;
            }

            .options .hamburger-menu {
                display: block;
            }

            .options .hamburger-menu .navbar-toggler {
                display: block;
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-6 logo">
                <img src="/img/zyro-image__3_-removebg.png" alt="">
            </div>
            <div class="col-6 options">
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/funcionalidades">Funcionalidades</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sobre">Sobre nós</a></li>
                        <li class="nav-item"><a class="nav-link" href="/planos">Planos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
                    </ul>
                </div>
                <a href="/">Home</a>
                <a href="/funcionalidades">Funcionalidades</a>
                <a href="/sobre">Sobre nós</a>
                <a href="/planos">Planos</a>
                <a href="/contato">Contato</a>
                <button type="button" class="btn btn-light login"><a href="/login">Login</a></button>
            </div>
        </div>
    </header>


    <main>
        <div class="main">
            <img src="/img/wepik-export-20231001032624TH7w.png" alt="">
            <div class="overlay"></div>
            <section class="introducing">
                <h1 class="introducing_title">Eficiência à Máxima Potência</h1>
                <div class="introducing_desc">
                    <p>Otimize a gestão da sua oficina mecânica com nosso ERP. Ganhe tempo para o que <strong>realmente
                            importa</strong>, eleve a qualidade do seu serviço e a satisfação dos seus clientes.</p>
                    <p>Com os nossos módulos criados para auxiliar a gestão da sua oficina, isso se torna simples.
                        <STRONg>Descubra como:</STRONg>
                    </p>
                </div>
            </section>
        </div>
    </main>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Módulos de Gestão</h1>
            <p class="lead">Nossos módulos de gestão darão dinamismo, organização e geração de dados para a gestão da
                sua oficina.</p>
            <hr class="my-4">
            <p>Explore os recursos e funcionalidades que transformarão a maneira como você gerencia sua oficina
                mecânica.</p>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <div class="modules row mb-4 align-items-center">
                <div class="col-md-6">
                    <img src="/img/dashboard.png" alt="Dashboard Dinâmico" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>Dashboard Dinâmico e Relatórios</h2>
                    <p>Visualize as informações mais importantes logo no menu inicial, proporcionando uma visão rápida e
                        abrangente do desempenho da sua oficina.</p>
                    <p>Caso precise de algo mais especifico, crie um relatório personalizado.</p>
                </div>
            </div>
            <hr>
            <div class="modules row mb-4 align-items-center">
                <div class="col-md-6 text-right">
                    <h2>Gestão de OS</h2>
                    <p>Gerencie ordens de serviço com eficiência, desde a criação até a conclusão, garantindo um
                        atendimento rápido e de qualidade.</p>
                    <p>Diga adeus aos blocos de papel. Com a Gears ERP, você faz isso de forma rápida, econômica e ainda
                        ajuda o planeta ao não utilizar papel!</p>
                </div>
                <div class="col-md-6">
                    <img src="/img/OS.png" alt="Dashboard Dinâmico" class="img-fluid">
                </div>
            </div>
            <hr>
            <div class="modules row mb-4 align-items-center">
                <div class="col-md-6">
                    <img src="/img/Cliente.png" alt="Dashboard Dinâmico" class="modules2 img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>Cadastro de Clientes e fornecedores</h2>
                    <p>Mantenha todos os dados de seus clientes e fornecedores organizados e acessíveis, facilitando o
                        relacionamento e as transações comerciais.</p>
                    <p>Tenha seu próprio Mailing e envie alertas personalizados para seus clientes.</p>
                </div>
            </div>
            <hr>
            <div class="modules row mb-4 align-items-center">
                <div class="col-md-6 text-right">
                    <h2>Gestão de Estoque</h2>
                    <p>Otimize seu inventário com precisão. Saiba exatamente o que você tem, o que precisa e quando
                        reabastecer. Evite desperdícios, economize dinheiro e esteja sempre pronto para atender seus
                        clientes com eficiência.</p>
                </div>
                <div class="col-md-6">
                    <img src="/img/Estoque.jpg" alt="Dashboard Dinâmico" class="img-fluid">
                </div>
            </div>
            <hr>
            <div class="modules row mb-4 align-items-center">
                <div class="col-md-6">
                    <img src="/img/ponto-de-venda.png" alt="Dashboard Dinâmico" class="modules2 img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>Pagamentos e Nota Fiscal <h4>(em breve)</h4></h2>
                    <p>Facilite suas transações e mantenha-se em dia com as obrigações fiscais com nosso sistema.
                        Pagamentos rápidos, seguros e notas fiscais emitidas em poucos cliques. Economize tempo, evite
                        burocracias e foque no crescimento do seu negócio.</p>
                    <p>Tenha seu próprio Mailing e envie alertas personalizados para seus clientes.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-12 text-center">
                    <img src="/img/zyro-image__3_-removebg.png" alt="Gears ERP Logo" class="img-fluid">
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Gears ERP</h5>
                    <p>123 Rua Exemplo, Cidade, Estado, 12345</p>
                    <p>contato@gearserp.com.br</p>
                    <p>(11) 4002-8922</p>
                </div>
                <div class="col-md-4">
                    <h5>Links Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Siga-nos</h5>
                    <a href="#" class="social-icon text-light"><i class="bi bi-facebook"
                            style="font-size: 24px;"></i></a>
                    <a href="#" class="social-icon text-light"><i class="bi bi-twitter"
                            style="font-size: 24px;"></i></a>
                    <a href="#" class="social-icon text-light"><i class="bi bi-linkedin"
                            style="font-size: 24px;"></i></a>
                </div>
            </div>
            <hr>
            <p class="text-center">123.456.789/0001-01</p>
            <hr>
        </div>
    </footer>

</body>

</html>