<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">

    <title>Gears ERP</title>
    <style>
        @media (max-width: 1024px) {
            .options a {
                display: none;
            }

            .options .hamburger-menu {
                display: block;
            }

            .options .hamburger-menu .navbar-toggler {
                display: block;
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-6 logo">
                <img src="/img/zyro-image__3_-removebg.png" alt="">
            </div>
            <div class="col-6 options">
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/funcionalidades">Funcionalidades</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sobre">Sobre nós</a></li>
                        <li class="nav-item"><a class="nav-link" href="/planos">Planos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
                    </ul>
                </div>
                <a href="/">Home</a>
                <a href="/funcionalidades">Funcionalidades</a>
                <a href="/sobre">Sobre nós</a>
                <a href="/planos">Planos</a>
                <a href="/contato">Contato</a>
                <button type="button" class="btn btn-light login"><a href="/login">Login</a></button>
            </div>
        </div>
    </header>

    <main>
        <div class="main">
            <img src="/img/wepik-export-20231001032624TH7w.png" alt="">
            <div class="overlay"></div>
            <section class="introducing">
                <h1 class="introducing_title">Conheça nossa historia!</h1>
                <div class="introducing_desc">
                    <p>Vamos te contar um pouquinho de como, quando e porque a Gears ERP nasceu.</p>
                </div>
            </section>
        </div>
    </main>

    <main class="container my-5">
        <section class="about-us">
            <div class="row mb-5">
                <div class="col-md-6 logo">
                    <img src="https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/d0048d89-e4fa-4adb-9c77-adc51e4e1c6b.png"
                        alt="Adriano Rodrigues" class="logo" class="img-fluid">
                    <!-- Adicione o caminho correto para a sua foto -->
                </div>
                <div class="col-md-6">
                    <h2>Adriano Rodrigues, Fundador da Gears ERP</h2>
                    <p>Com uma visão inovadora e a missão de tornar a tecnologia acessível a todos, Adriano fundou a
                        Gears ERP para trazer comodidade a gestão de oficinas mecânicas, otimizando operações e
                        economizando
                        tempo.</p>
                </div>
            </div>

            <div class="mission">
                <h3>Nossa Missão</h3>
                <p>A Gears ERP nasceu com a convicção de que a tecnologia não é exclusiva para os entusiastas de
                    tecnologia - ela é para todos. Estamos dedicados a tornar a inovação tecnológica acessível,
                    compreensível e utilizável por todas as oficinas mecânicas, independentemente do seu tamanho ou
                    experiência técnica.</p>
                <p>Nossa missão é clara: otimizar operações, economizar tempo e permitir que os profissionais da área se
                    concentrem no que fazem de melhor, enquanto nós cuidamos da complexidade tecnológica. Acreditamos
                    que, ao empoderar as oficinas com ferramentas intuitivas e eficientes, estamos não apenas
                    transformando negócios, mas também enriquecendo vidas.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-12 text-center">
                    <img src="/img/logo.png" alt="" alt="Gears ERP Logo" class="img-fluid">
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Gears ERP</h5>
                    <p>123 Rua Exemplo, Cidade, Estado, 12345</p>
                    <p>contato@gearserp.com.br</p>
                    <p>(11) 4002-8922</p>
                </div>
                <div class="col-md-4">
                    <h5>Links Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Siga-nos</h5>
                    <a href="#" class="social-icon text-light"><i class="bi bi-facebook"
                            style="font-size: 24px;"></i></a>
                    <a href="#" class="social-icon text-light"><i class="bi bi-twitter"
                            style="font-size: 24px;"></i></a>
                    <a href="#" class="social-icon text-light"><i class="bi bi-linkedin"
                            style="font-size: 24px;"></i></a>
                </div>
            </div>
            <hr>
            <p class="text-center">123.456.789/0001-01</p>
            <hr>
        </div>
    </footer>
</body>

</html>