/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0E1DD;
    color: #ffffff;
}

/* Estilos do Header */
header {
    background-color: #0D1B2A !important;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.icons {
    display: flex;
    gap: 20px;
}

/* Estilos para o Botão Hamburger */
.hamburger-btn {
    cursor: pointer;
}

/* Estilos do Menu Hamburger */
.hamburger-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.hamburger-menu .title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.hamburger-menu a,
.offcanvas-body a {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 10px;
    display: block;
    transition: color 0.1s ease-in-out;
    margin-left: 40px;
}

.hamburger-menu a:hover,
.offcanvas-body a:hover {
    color: #778DA9;
}

/* Estilos para Ícones de Notificação e Perfil */
.notification-icon,
.profile-icon {
    cursor: pointer;
    font-size: 1.5em;
    /* Ajuste o tamanho dos ícones aqui */
}

/* Estilos para Dropdown de Notificação e Perfil ao Clicar */
.notification-menu,
.profile-menu {
    display: none;
    position: absolute;
    top: 40px;
    /* Ajuste o valor conforme necessário para posicionar o dropdown abaixo dos ícones */
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.notification-menu a,
.profile-menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.show {
    display: block !important;
}

/* Estilos para o Offcanvas */
.offcanvas-body {
    max-height: 90vh;
    overflow-y: auto;
}

.offcanvas-body h6 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #0D1B2A;
}

.offcanvas-body a {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left: 25px;
}

/* Adicione ao seu arquivo CSS */
.icon-dropdown-menu {
    margin-top: 20px;
    /* Ajuste conforme necessário */
}

.align-right {
    margin-left: auto;
}

/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0E1DD;
    color: #ffffff;
}

/* Estilos do Header */
header {
    background-color: #0D1B2A !important;
    padding: 10px 20px;
}

.logo {
    max-width: 150px;
    flex-grow: 0;
}

.icons {
    display: flex;
    gap: 20px;
}

/* Estilos para Ícones de Notificação e Perfil */
.icons i {
    font-size: 1.5em;
}

.titles {
    color: #0D1B2A;
}

/* listaOS */
table {
    background-color: #E0E1DD;
    border-radius: 8px;
    overflow: hidden;
}

th,
td,
tr,
tbody {
    text-align: center;
    padding: 10px;
    /* Adiciona um espaçamento interno para as células */
    background-color: #E0E1DD;
    /* Define a cor de fundo das células */
}

th {
    background-color: #343a40;
    /* Define a cor de fundo do cabeçalho */
    color: #fff;
    /* Define a cor do texto no cabeçalho */
}

.float-button {
    background-color: #0D1B2A;
    color: #778DA9;
    position: fixed;
    width: 70px;
    height: 70px;
    border: none;
    font-size: 1.5em;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.modal-header {
    background-color: #0D1B2A;
    color: #E0E1DD;
    text-align: center;
    width: 100%;
}

.btn-close {
    color: white !important;
}

label {
    color: #000000;
    font-size: 1.2em;
}

.space {
    padding-bottom: 2%;
}

#statusIcon {
    color: red;
}

.clientes-cards {
    display: none;
}

/* Responsividade */
@media (max-width: 320px) {
    table {
        display: none;
    }

    .clientes-cards {
        display: block;
    }

    .logo {
        max-width: 100px;
    }

    .icons i {
        font-size: 1em;
    }

    .offcanvas-body h6,
    .offcanvas-body a {
        font-size: 1em;
    }

    .clientes-cards .card-body {
        padding: 10px;
    }

    .clientes-cards .os-number p,
    .clientes-cards .row div p {
        font-size: 12px;
    }

    .modal-body {
        display: block;
    }

    label {
        font-size: 1.1em;
    }

    .space {
        padding-bottom: 5%;
    }
}

@media (max-width: 375px) {
    .table {
        display: none;
        /* Esconde a tabela */
    }

    .clientes-cards {
        display: block;
        padding: 0 10px;
    }

    .clientes-cards .card {
        margin-bottom: 15px;
    }

    .clientes-cards .card-body {
        padding: 12px;
    }

    .os-number {
        padding: 8px;
        border-radius: 5px;
    }

    .clientes-cards .row div p,
    .clientes-cards .os-number p {
        font-size: 13px;
    }

    label {
        font-size: 1.1em;
    }
}

@media (max-width: 425px) {
    table {
        display: none;
    }

    .clientes-cards {
        display: block;
    }

    .logo {
        max-width: 100px;
    }

    .icons i {
        font-size: 1em;
    }

    .offcanvas-body h6,
    .offcanvas-body a {
        font-size: 1em;
    }

    .clientes-cards .card-body {
        padding: 10px;

    }

    .clientes-cards .os-number p,
    .clientes-cards .row div p {
        font-size: 12px;
    }

    .modal-body {
        display: block;
    }
}

@media (max-width: 768px) {
    .logo {
        max-width: 100px;
    }

    .icons i {
        font-size: 1.2em;
    }

    .offcanvas-body h6,
    .offcanvas-body a {
        font-size: 1em;
    }
}